* {
    margin: 0;
    padding: 0;
    transition: all 0.2s
}

body {
    background-color: #F8F8F8;
}

.navbar {
    background-color: #fff !important;
    box-shadow: 0px -7px 11px 1px #000
}

@media (min-width: 1199px) {

    .navbar-nav {
        margin-left: 5%;

    }

}


.navbar-light .navbar-nav .nav-link {
    font-size: 17px;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-item {
    margin-right: 15px
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #FA6703;
}

.right-icons {
    margin-right: 10px
}

.right-icons span {
    margin-right: 20px
}

.notify-icon,
.profile-icon,
.search-icon {
    font-size: 18px;
}

.notify-icon {
    position: relative;
}

.notify-icon .notify-mark {
    position: absolute;
    top: -4px;
    left: 5px;
    background-color: #FA6703;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.notify-icon .notify-mark .notify-mark-inner {
    position: absolute;
    top: -3px;
    left: 3.5px;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
}

.modal-body .row {
    margin-bottom: 10px
}

/*.....................................................................................*/
#footer {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 5px;
}

#footer .social-icons {
    padding-bottom: 5px
}

#footer .social-icons span:hover {
    color: #FA6703
}

#footer .social-icons span {
    cursor: pointer;
    transition: all 0.1s !important;
    font-size: 20px;
    margin-right: 30px;
    color: #000;
}

#footer .short-links ul li {
    font-size: 20px
}

#footer .short-links .list-inline .list-inline-item {
    margin-right: 30px;
    cursor: pointer;
}

#footer .short-links .list-inline .list-inline-item.active {
    color: #FA6703
}

#footer .short-links .list-inline .list-inline-item:hover {
    text-decoration: underline;
    color: #FA6703
}